<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>frontpage</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <a href="#">
            <div id="floating_title">华东理工大学</div>
        </a>
        <a href="#">
            <div id="floating_user">
                <img class="avatar" src="8.png">
                <div id="user_name">田中瑞佳</div>
            </div>
        </a>
    </header>
    <main>
        <div class="banner"><img class="banner" src="0.png"></div>
        <div id="card_top">
            <div id="card_top_left">
                <a href="#">
                    <div id="title">高等数学讨论区</div>
                </a>
                <div id="title_slogan">下一步，让世界没有小白！</div>
            </div>
            <div id="card_top_right">
                <div class="sign">
                    <a href="#">
                        <div id="sign_btn">
                            签到
                        </div>
                    </a>
                    <div id="sign_status">
                        05月14日<br>
                        漏签<span class="number">0</span>天
                    </div>
                </div>
            </div>
        </div>
        <div id="nav_bar">
            <div id="nav_bar_left">
                <ul id="nav_button">
                    <a href="#">
                        <li>看帖</li>
                    </a>
                </ul>
            </div>
            <div id="nav_bar_search">
                <form action="#" method="get">
                    <input type="search" id="search_input" name="search">
                    <input type="submit" id="search_submit" value="搜索">
                </form>
            </div>
            <a href="#">
                <div id="nav_new_post">
                    发帖
                </div>
            </a>
        </div>
        <div id="discuss_list">
            <ul>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem. </div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="discuss">
                        <div class="thread_card_left">
                            <div class="reply_number">4</div>
                            <div class="thread_title"> <a href="#">标题</a></div>
                            <div class="thread_summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Explicabo cupiditate beatae illo exercitationem.</div>
                        </div>
                        <div class="thread_card_right">
                            <div class="author_name">楼主</div>
                            <div class="last_reply_name">最后回复</div>
                            <div class="last_reply_time">最后回复时间</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="turn_page">
            <ul>
                <li></li>
            </ul>
        </div>
    </main>
</body>
<ml>